.wrapper {
  display: flex;
  text-align: center;
  align-items: center;
}

.status {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;

  background-color: greenyellow;

  border-radius: 50%;
}

.link {
  color: grey;
}
