
.bloc{
    display: block;
    margin-top: 20px;
}


.item{
    display: flex;
    text-align: center;
    align-items: center;

    margin-bottom: 10px;
    border-radius: 5%;
}

.status{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: greenyellow;

    border-radius: 50%;
}

